@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto:wght@500&family=Tangerine&display=swap');

$mediaquerySize: 700px;

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 96vw;
    padding: 30px 20px;
    background-color: #ffffff;
}

#search{
    font-size: 5rem;
    font-style: italic;
    color: #53EBCA;
    text-align: center;

    border-radius: 50px;
    border: none;
    border-left: solid 4px #53EBCA;
    border-bottom: solid 4px #53EBCA;

    padding: 10px 30px;

    cursor: pointer;
    user-select: none;

    &:hover{
        border-color: #4edfbf;
        color: #4edfbf;
    }

    &:active{
        border-color: #47ceb1;
        color: #47ceb1;
    }

    @media screen and (max-width: $mediaquerySize) {
        font-size: 2.5rem
    }
}

#quoteContainer{
    text-align: center;
    color: #3FCBD4;

    #quote{
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 3rem;
    }

    #character{
        font-family: 'Tangerine', cursive;
        font-size: 3rem;
        font-weight: 400;
        color: #38b2bb;
        text-decoration: none;
    }

    #linkIcon{
        display: none;
        font-style: italic;
        margin-left: 10px;
    }

    #movie{
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    @media screen and (max-width: $mediaquerySize) {
        #quote{
            font-size: 2rem;
        }
    
        #character{
            font-size: 2rem;
        }
    
        #movie{
            font-size: 1rem;
        }
    }
}

#pages div{
    position: absolute;
    top: 0;
    width: 1vw;
    height: 100vh;

    box-shadow: 0.5vw 0 0.5vw grey inset;

    &:nth-child(1){
        right: 0px;
    }
    &:nth-child(2){
        right: 1vw;
    }
    &:nth-child(3){
        right: 2vw;
    }
    &:nth-child(4){
        right: 3vw;
    }
}

#backgroundText{
    position: absolute;
    top: 0;
    left: 3vw;
    z-index: -1;
    overflow: hidden;
    user-select: none;

    width: 90vw;
    height: 100vh;

    color: #fdfdfd;
    font-family: 'Playfair Display', serif;
    font-size: 9rem;

    @media screen and (max-width: $mediaquerySize) {
        font-size: 6rem
    }
}